In [20]:
import pandas as pd
import numpy as np
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
from biogeme import models, tools
from biogeme.expressions import Beta, Variable, bioDraws, MonteCarlo, log, Power, exp, Derive, RandomVariable
import biogeme.distributions as dist
import scipy.stats as st

Data description

The dataset `apollo_swissRouteChoiceData` comes from an actual SP survey of public transport route choice conducted in
Switzerland (Axhausen et al., 2008). A set of 388 people were faced with 9 choices each between two public transport routes, both using train (leading to 3'492 observations in the data). The two alternatives are described on the basis of travel time, travel cost, headway (time between subsequent trains/busses) and the number of interchanges. For each individual, the dataset
additionally contains information on income, car availability in the household, and whether the
journey was made for commuting, shopping, business or leisure.

See slide 79 Apollo Documentation for more info on Mixtures

Preparing the data

In [21]:
# Read the CSV file
df = pd.read_csv(r"C:\Users\alexi\Desktop\Semester Project GIT\Semester-project\Data\apollo_swissRouteChoiceData.csv")
df

,ID,choice,tt1,tc1,hw1,ch1,tt2,tc2,hw2,ch2,hh_inc_abs,car_availability,commute,shopping,business,leisure
0,2439,2,58,7,30,1,50,8,30,0,50000,1,1,0,0,0
1,2439,1,30,8,60,0,41,7,15,2,50000,1,1,0,0,0
2,2439,1,41,7,30,0,34,8,15,2,50000,1,1,0,0,0
3,2439,1,44,10,60,1,52,9,60,2,50000,1,1,0,0,0
4,2439,2,43,9,60,0,34,10,30,0,50000,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,84525,1,22,4,15,0,24,3,15,0,70000,0,1,0,0,0
3488,84525,1,22,3,15,0,20,4,30,1,70000,0,1,0,0,0
3489,84525,1,20,3,15,2,16,4,15,2,70000,0,1,0,0,0
3490,84525,2,20,4,60,2,15,5,30,2,70000,0,1,0,0,0
3491,84525,1,13,5,15,1,19,4,30,2,70000,0,1,0,0,0

In [22]:
#fill nAn values with 0 (same as in Apollo)
df = df.fillna(0) 

#creating biogeme database

database = db.Database('MMNL_Preference_Model', df)
globals().update(database.variables) #transform all columns into variables

Defining the model parameters

In [23]:
mu_log_b_tt = Beta('mu_log_b_tt', -3, None, None, 0)
sigma_log_b_tt = Beta('sigma_log_b_tt', -0.01, None, None, 0)
mu_log_b_tc = Beta('mu_log_b_tc', -3, None, None, 0)
sigma_log_b_tc = Beta('sigma_log_b_tc', -0.01, None, None, 0)
mu_log_b_hw = Beta('mu_log_b_hw', -3, None, None, 0)
sigma_log_b_hw = Beta('sigma_log_b_hw', -0.01, None, None, 0)
mu_log_b_tt = Beta('mu_log_b_tt', -3, None, None, 0)
sigma_log_b_ch = Beta('sigma_log_b_ch', -0.01, None, None, 0)

#no fixed parameters

Define random parameters (latent variables)

In [24]:
omega = RandomVariable('omega')
density = dist.normalpdf(omega)

sigma_s = Beta('sigma_s', 1, None, None, 0)